{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": [
            "4.0.0"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "babel-plugin-add-module-exports"
  ]
}
